---
import type { Post } from "@/types/post";
import formatPostPublishDate from "@/utils/formatPostPublishDate";
import ListItem from '@/components/ListItem.astro'
let posts: Post[] = await Astro.glob("../data/posts/*.md");
posts = posts.map((post) => ({
  ...post,
  frontmatter: {
    ...post.frontmatter,
    publishDate: formatPostPublishDate(post.frontmatter.publishDate),
  },
}));
---

<ul class="flex flex-col gap-4">
  {
    posts.map((post) => {
      const slug = post.file.split("/").pop().split(".").shift();
      const href = `/blog/${slug}`;

      return (
        <li> 
          <ListItem
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            footer={post.frontmatter.publishDate}
            href={href}
          />
        </li>
      );
    })
  }
</ul>
