---
import { Image } from "astro:assets";
import socials from "@/content/socials/index.json";
const pages: {
  name: string;
  href: string;
  iconPath: string;
}[] = [
  {
    name: "Home",
    href: "/",
    iconPath: "/icons/command.svg",
  },
  {
    name: "Blog",
    href: "/blog",
    iconPath: "/icons/pen-line.svg",
  },
  {
    name: "Projects",
    href: "/projects",
    iconPath: "/icons/folder-open.svg",
  },
  {
    name: "Keyboards",
    href: "/keebs",
    iconPath: "/icons/keyboard.svg",
  },
];
---

<header
  class="bg-background flex flex-row lg:flex-col gap-2 border-b lg:border-b-0 lg:border-r lg:w-64 lg:flex-shrink-0 lg:overflow-y-auto lg:h-screen"
>
  <section class="p-2 hidden lg:block">
    <a
      href="/"
      class="flex flex-row gap-4 items-center rounded-lg hover:bg-accent p-2 transition-colors"
    >
      <Image
        src="https://github.com/zachbharris.png"
        alt="@zachbharris"
        class="h-10 w-10 object-contain object-center rounded-full"
        width={40}
        height={40}
      />
      <div class="flex flex-col">
        <span class="font-bold">Zach Harris</span>
        <span class="text-sm text-muted-foreground">Software Engineer</span>
      </div>
    </a>
  </section>

  <section class="p-4 lg:hidden block">
    <a href="/" class="font-bold">zachbharris</a>
  </section>

  <hr />

  <section class="hidden lg:block">
    <nav class="p-2 flex flex-col gap-2">
      {
        pages.map((page) => {
          const browserPageSlug = Astro.url.pathname.split("/")[1];
          const currentPageSlug = page.href.split("/")[1];
          const isActive = currentPageSlug === browserPageSlug;
          return (
            <a
              href={page.href}
              class:list={[
                "flex flex-row gap-2 items-center p-2 hover:bg-accent transition-colors rounded-lg",
                isActive ? "bg-accent" : undefined,
              ]}
            >
              <span
                role="img"
                class="h-4 w-4 bg-primary"
                style={{
                  maskImage: `url(${page.iconPath})`,
                  maskSize: "contain",
                  maskRepeat: "no-repeat",
                  maskPosition: "center",
                }}
              />
              <span class="flex-1 text-sm font-medium">{page.name}</span>
            </a>
          );
        })
      }
    </nav>
  </section>

  <hr class="hidden lg:block" />

  <section class="p-2 hidden lg:flex flex-col gap-2">
    {
      socials.map((social) => {
        return (
          <a
            href={social.url}
            rel="noopener noreferrer"
            target="_blank"
            class="flex flex-row gap-2 items-center p-2 hover:bg-accent transition-colors rounded-lg"
          >
            <span
              role="img"
              class="h-4 w-4 bg-primary"
              style={{
                maskImage: `url(${social.icon})`,
                maskSize: "contain",
                maskRepeat: "no-repeat",
                maskPosition: "center",
              }}
            />
            <span class="flex-1 text-sm font-medium">{social.name}</span>
            <span
              role="img"
              class="h-4 w-4 bg-primary/75"
              style={{
                maskImage: `url("/icons/arrow-up-right.svg")`,
                maskSize: "contain",
                maskRepeat: "no-repeat",
                maskPosition: "center",
              }}
            />
          </a>
        );
      })
    }
  </section>
</header>
