---
import { getCollection } from "astro:content";
import { postsInYearOrder } from "@/lib/post.ts";
import { ArrowRight } from "@phosphor-icons/react";

const posts = await getCollection("posts", ({ data }) => !data.draft);
const postsSortedByYear = postsInYearOrder(posts);
---

{
  postsSortedByYear.map((yearOfPost) => {
    return (
      <section class="mb-16 mt-8 block">
        <h2 class="text-sm font-semibold leading-loose">{yearOfPost.year}</h2>

        <nav aria-label={`Posts from ${yearOfPost.year}`}>
          <ul class="space-y-2">
            {yearOfPost.posts.map((post) => (
              <li>
                <a
                  href={`/notes/${post.slug}`}
                  class="group flex flex-row items-center gap-2 border-b border-muted-foreground py-2"
                >
                  <span class="grow text-lg tracking-wide text-muted-foreground transition-colors group-hover:text-foreground">
                    {post.data.title}
                  </span>
                  <ArrowRight aria-hidden="true" />
                  <span class="sr-only">Read more about {post.data.title}</span>
                </a>
              </li>
            ))}
          </ul>
        </nav>
      </section>
    );
  })
}
